<div class="hero min-h-64 bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <a target='_blank'><img src='https://i.postimg.cc/d0ZwR2mZ/temp-Imagefj-SOu1.avif' border='0' alt='temp-Imagefj-SOu1'/></a>

        <h1 class="text-5xl font-bold">Bienvenido a Sofnet Perú SAC</h1>
        <p class="py-6">Esta es la página de inicio de nuestra aplicación. Aquí puedes encontrar información relevante y accesos directos a las diferentes secciones de la aplicación.</p>
        <!-- <a [routerLink]="['/clientes']" class="btn btn-primary">Gestionar Clientes</a> -->

      </div>
    </div>
  </div>
  
  <div class="flex space-x-4">
    <a target='_blank'>
      <img src='https://i.postimg.cc/pT9hF5ys/temp-Image0y-NZWV.avif' alt='temp-Image0y-NZWV' class="h-100 w-100 object-cover"/>
    </a>
    <a target='_blank'>
      <img src='https://i.postimg.cc/Wzg829ZV/temp-Image-XFZNfa.avif' alt='temp-Image-XFZNfa' class="h-100 w-100 object-cover"/>
    </a>
    <a target='_blank'>
      <img src='https://i.postimg.cc/CxTyHt7G/temp-Image8-KBXir.avif' alt='temp-Image8-KBXir' class="h-100 w-100 object-cover"/>
    </a>
  </div>
  